<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Photo App</title>
  </head>
  <body>
    <h1><a href="#">사진 목록 페이지</a></h1>
    <section>
      <div>
        <h2>
          <a href="#">{{photo.title}}</a>
        </h2>
        <h3><a href="{% url 'photo_edit' pk=photo.pk %}">수정</a></h3>
        <img src="{{photo.image}}" alt="{{photo.title}}" width="300" />
        <p>{{photo.description}}</p>
        <p>{{photo.author}}, {{photo.price}}원</p>
      </div>
    </section>
  </body>
</html>
